[submodule "Perceptral/external/imgui"]
	path = Perceptral/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Perceptral/external/entt"]
	path = Perceptral/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "pointcloudtool/external/nativefiledialog-extended"]
	path = pointcloudtool/external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "Perceptral/external/spdlog"]
	path = Perceptral/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Perceptral/external/glfw"]
	path = Perceptral/external/glfw
	url = https://github.com/glfw/glfw.git
